@model IEnumerable<PetStoreProject.Models.Animal>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h4>The two most highly rated pets today are:</h4>
    <table class="home-table">
        <thead class="home-table-head">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Number of Comments</th>
            </tr>
        </thead>
        <tbody class="home-table-body">
            @foreach (var animal in Model)
            {
                <tr>
                    <td><img class="image" src="@animal.PictureName"></td>
                    <td>@animal.Name</td>
                    <td>@animal.Description</td>
                    <td>@animal.Comments!.Count</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
